<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("主页", "Index", "Home")</li>
                    <li>@Html.ActionLink("关于", "About", "Home")</li>
                    <li>@Html.ActionLink("联系方式", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    function Service(url) {
        this.rootUrl = url;
        this.errorHandler = function (jqXHR) {
            var response = jqXHR.statusText;
            alert(response);
            //if (response != null) {
            //    if (!response.success && response.errCode == '') {
            //        alert('eee');
            //        $(".close").click();
            //        window.location.href = "index.html";
            //    } else {
            //        if (respond.msg != null) {
            //            //response.errCode,response.msg
            //        } else {
            //            //服务器异常
            //            alert("服务器异常 1" + response.errCode);
            //        }
            //    }
            //} else {
            //    alert("服务器异常2");
            //}
        };
    }

    Service.prototype = {
        constructor: Service,
        getPost: function (param, callback) {
            $.post(this.rootUrl, param, callback);
        },
        getAsyncPost: function (param, callback) {
            $.ajax({
                type: 'POST',
                url: this.rootUrl,
                data: param,
                success: callback,
                error: this.errorHandler
            });
        },
        getAjax: function (param, callback) {
            $.ajax({
                cache: false,
                type: 'GET',
                url: this.rootUrl + '?' + $.param(param),
                dataType: 'json',
                success: callback,
                error: this.errorHandler
            });
        },
        getAllAsync: function (param, callback) {
            $.ajax({
                cache: false,
                type: 'GET',
                url: this.rootUrl + '?' + $.param(param),
                dataType: 'json',
                success: callback,
                async: false,
                error: this.errorHandler
            });
        }
    };

    function test() {
        var entService = new Service("/Home/Login");
        var userdata = {};
        userdata.username = "admin";
        userdata.pwd = "你的测试";
        var successCallback = function (data) {
            console.log(data + "------");
        }

        entService.getAsyncPost(userdata, successCallback);
    }

    $(function () {
        test();
    });
</script>
